* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-700i.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-700.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-600i.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-600.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-500i.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-500.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-400i.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-400.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-300i.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: raleway;font-display: swap;src: url("../assets/fonts/raleway-300.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: fontello;font-display: swap;src: url("../assets/fonts/fontello.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?de118309f8dd92977be1c600676489f1") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-switcher-light"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-switcher-dark"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f103"; 
	} 
/* ----------------------------------------------------------------------- */
/* VARIABLES */
/* ----------------------------------------------------------------------- */
:root {
  /* Fonts */
  --font-family-primary: 'Raleway', sans-serif;
  /* Text */
  --font-size: 1rem;
  --line-height: 1.625;
  /* Colors */
  --main-color: #ab8b80;
  --top-line-height: 4.375rem;
  --slider-bottom-height: 4.0625rem;
  --slider-padding: 2.1875rem;
  --swiper-navigation-size: 0.8125rem !important;
  --gutter: 1.25rem;
}

[data-fls-darklite-light] {
  --body-bg: #f5f5f5;
  --body-color: #1e1f24;
  --line-color: #dcdcdc;
  --menu-btn-color: #777;
  --active-color: #1e1f24;
  --light-color: #1e1f24;
  --bullet-color: #777;
}

[data-fls-darklite-dark] {
  --body-bg: #1e1f24;
  --body-color: #fff;
  --line-color: #28292e;
  --menu-btn-color: #7a7b7f;
  --active-color: #e7e8ed;
  --light-color: #fff;
  --bullet-color: #58585c;
}

body {
  color: var(--main-color);
  font-family: var(--font-family-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  min-width: 20rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}.top-line {
  border-bottom: 0.125rem solid var(--line-color);
}
.top-line__content {
  height: var(--top-line-height);
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  justify-content: space-between;
}
.logo {
  width: 6.875rem;
  height: 0.75rem;
  background-image: url("../assets/img/logo.svg");
}

.main-menu {
  display: flex;
  align-items: center;
}
.main-menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-menu ul {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease, translate 0.8s ease, visibility 0.8s ease;
  translate: 0.625rem 0rem;
}
.main-menu ul.active {
  visibility: visible;
  opacity: 1;
  translate: 0rem 0rem;
}
.main-menu li.active a {
  color: var(--active-color);
}
.main-menu a {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 6%;
  color: var(--menu-btn-color);
  transition: color 0.5s ease;
}

.toggler {
  position: relative;
  cursor: pointer;
}

.menu-btn {
  padding: 0.625rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-right: -0.625rem;
}
.menu-btn * {
  width: 1.0625rem;
  height: 0.125rem;
  background-color: var(--menu-btn-color);
}
.menu-btn *:first-child {
  width: 0.8125rem;
}
.menu-btn *:nth-child(2) {
  width: 0.6875rem;
}
.menu-btn.active {
  align-items: flex-end;
}[data-fls-slider] {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0rem, 0, 0);
}[data-fls-darklite-light] {
  background-color: var(--body-bg);
}
[data-fls-darklite-light] .top-line {
  border-color: var(--line-color);
}
[data-fls-darklite-light] .logo {
  background-image: url("../assets/img/logo-light.svg");
}
[data-fls-darklite-light] .icon-switcher::before {
  content: "\f101";
  font-family: iconfont;
}

[data-fls-darklite-dark] {
  background-color: var(--body-bg);
}
[data-fls-darklite-dark] .icon-switcher::before {
  content: "\f102";
  font-family: iconfont;
}.hero__wrapper {
  padding: var(--slider-padding) 0;
}
.hero__body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gutter);
}
.hero__content {
  grid-column: span 4;
}
.hero__actions {
  grid-column: span 8;
}
.hero-slider {
  height: calc(100vh - var(--top-line-height) - var(--slider-bottom-height) - var(--slider-padding) * 2 - 0.125rem);
  min-height: 25rem;
}
.hero-slider__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.4375rem;
  margin-top: -1.5625rem;
  z-index: 2;
  position: relative;
  pointer-events: none;
}
.hero-slider__style {
  font-weight: 600;
  color: var(--light-color);
}
.hero-slider__style:not(:last-child) {
  margin-bottom: 0.625rem;
}
.hero-slider__header {
  font-weight: 300;
  line-height: 1.0789473684;
  letter-spacing: 6%;
  color: var(--light-color);
  margin-left: -0.375rem;
}
.hero-slider__header:not(:last-child) {
  margin-bottom: 1.5rem;
}
.hero-slider__more a {
  font-weight: 600;
  letter-spacing: 10%;
  line-height: 1.1875;
  display: inline-flex;
  align-items: center;
}
.hero-slider__more a {
  transition: color 0.5s ease;
  pointer-events: all;
  text-wrap: nowrap;
}
.hero-slider__more a::before {
  content: "";
}
.hero-slider__more a::before {
  height: 0.125rem;
  background-color: var(--main-color);
  transition: background-color 0.5s ease;
}
.hero-slider__slide {
  transition: scale 1s ease, opacity 1s ease;
  scale: 0.87;
  opacity: 0.8;
}
.hero-slider__slide.swiper-slide-active + * {
  scale: 1;
  opacity: 1;
}
.hero-slider__picture {
  height: 100%;
  cursor: pointer;
}
.hero-slider__image {
  width: 100%;
  height: auto;
  display: block;
  height: 100%;
  object-fit: cover;
}

.slider-bottom {
  position: relative;
  height: var(--slider-bottom-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.625rem;
}
.slider-bottom .sw-button-next {
  width: auto;
  bottom: 0.875rem;
  right: 0;
  top: auto;
  font-size: 1.875rem;
  cursor: pointer;
  color: var(--main-color);
  transition: color 0.5s ease;
}
.slider-bottom__body {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.slider-bottom__count {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.slider-bottom__value {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.1875;
  color: var(--bullet-color);
}
.slider-bottom__line {
  width: 2.25rem;
  height: 0.0625rem;
  background-color: var(--bullet-color);
}
.slider-bottom.slider-bottom .swiper-pagination {
  width: auto;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.slider-bottom.slider-bottom .swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: var(--bullet-color);
  opacity: 1;
  width: 0.5rem;
  height: 0.5rem;
  transition: scale 0.25s ease, background-color 0.25s ease;
}
.slider-bottom.slider-bottom .swiper-pagination-bullets .swiper-pagination-bullet-active {
  scale: 1.5;
  background-color: var(--main-color);
}
@media (width <= 48em) {
  .hero-slider__slide {
    scale: 1;
    opacity: 0.5;
  }
}
@media (width <= 29.875em) {
  .main-menu ul {
    max-width: 6.25rem;
    padding-top: 1.875rem;
  }
  .main-menu a {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .hero-slider {
    margin-right: -0.9375rem;
  }
}
@media (width < 20em) {
  .main-menu {
    column-gap: 0.3125rem;
  }
  .main-menu ul {
    column-gap: 0.625rem;
  }
  .hero-slider__style {
    font-size: 1.25rem;
  }
  .hero-slider__header {
    font-size: 3.125rem;
  }
  .hero-slider__more a {
    column-gap: 0.625rem;
  }
  .hero-slider__more a::before {
    width: 1.25rem;
  }
}
@media (width >= 20em) and (width < 75.625em) {
  .main-menu {
    column-gap: clamp( 0.3125rem , -0.24929775280625rem  +  2.808988764vw , 1.875rem );
  }
  .main-menu ul {
    column-gap: clamp( 0.625rem , -0.72331460674375rem  +  6.7415730337vw , 4.375rem );
  }
  .hero-slider__style {
    font-size: clamp( 1.25rem , 1.0702247191rem  +  0.8988764045vw , 1.75rem );
  }
  .hero-slider__header {
    font-size: clamp( 3.125rem , 2.54073033708125rem  +  2.9213483146vw , 4.75rem );
  }
  .hero-slider__more a {
    column-gap: clamp( 0.625rem , 0.4452247191rem  +  0.8988764045vw , 1.125rem );
  }
  .hero-slider__more a::before {
    width: clamp( 1.25rem , 0.8904494382rem  +  1.797752809vw , 2.25rem );
  }
}
@media (width >= 75.625em) {
  .main-menu {
    column-gap: 1.875rem;
  }
  .main-menu ul {
    column-gap: 4.375rem;
  }
  .hero-slider__style {
    font-size: 1.75rem;
  }
  .hero-slider__header {
    font-size: 4.75rem;
  }
  .hero-slider__more a {
    column-gap: 1.125rem;
  }
  .hero-slider__more a::before {
    width: 2.25rem;
  }
}
@media (any-hover: hover) {
  .main-menu a:hover {
    color: var(--active-color);
  }
  .hero-slider__more a:hover {
    color: var(--light-color);
  }
  .hero-slider__more a:hover::before {
    background-color: var(--light-color);
  }
  .slider-bottom .sw-button-next:hover {
    color: var(--light-color);
  }
}
@media (any-hover: none) {
  .main-menu a:active {
    color: var(--active-color);
  }
  .hero-slider__more a:active {
    color: var(--light-color);
  }
  .hero-slider__more a:active::before {
    background-color: var(--light-color);
  }
  .slider-bottom .sw-button-next:active {
    color: var(--light-color);
  }
}